@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PRN211_Project.Models.Person
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form asp-action="Otp" method="post" style="height: 400px">
        <h3>OTP Change Password</h3>
        @if (ViewBag.error != null)
        {
            <p style="color: red; margin-bottom:0px">@ViewBag.error</p>
        }
        <label style="margin-top:0px" for="otp">Enter Otp</label>
        <input class="login" name="otpValue" type="text" placeholder="Otp">
        <button type="submit">Reset Password</button>
        <div style="margin-top:10px;display: flex; justify-content:end">
            <a asp-action="Signin">Back To Login</a>
        </div>
    </form>
</body>
</html>
