@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PRN211_Project.Models.Person
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form asp-action="Repassword" method="post">
        <h3>Change Password</h3>
        @if (ViewBag.error != null)
        {
            <p style="color: red; margin-bottom:0px">@ViewBag.error</p>
        }
        <label for="password">Enter new Password</label>
        <input class="login" name="pass" type="password" placeholder="Password" required>

        <label for="password">Re-enter password</label>
        <input class="login" name="repass" type="password" placeholder="Re-enter password" required>
        <button style="margin-top:60px">Change Password</button>
        <div style="margin-top:18px;display: flex; justify-content:end">
            <a asp-action="Signin">Back To Login</a>
        </div>
    </form>
</body>
</html>
