@using System.Text.Json
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PRN211_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PRN211_Project.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Phim Hay</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="justify-content: space-between;">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                        </li>
                        <form class="d-flex align-items-center" action="/Home/Search" method="get">
                            <input style="margin-left:600px;padding:5px 10px" type="text" name="search" placeholder="Nhập tên phim cần tìm" />
                            <input style="margin-left:20px" class="btn btn-outline-primary" type="submit" value="Tìm" />
                        </form>


                        @if (Context.Session.GetString("account") != null)
                        {

                            Person user = (Person)JsonSerializer.Deserialize<Person>(Context.Session.GetString("account"));
                            if (user.Type == 1)

                            {
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Dropdown button
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-dark" asp-action="Index" asp-controller="Movie">Movie Management </a></li>
                                        <li><a class="nav-link text-dark" asp-action="GenreManagement" asp-controller="Genres">Genre Management </a></li>
                                        <li><a class="nav-link text-dark" asp-action="List" asp-controller="Members">User Management </a></li>
                                    </ul>
                                </div>
                               
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark">Welcome: @user.Fullname</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="signout">SignOut</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item" style="margin-left:100px">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="SignIn">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="register">Đăng ký</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PRN211_Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
